body {
  background-image: url("https://images.pexels.com/photos/948331/pexels-photo-948331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

section {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0px 10px 20px black;
}

img {
  width: 100%;
}

#navbar {
  position: fixed;
  top: 6px;
  left: 0px;
  background: black;
  opacity: 0.7;
  width: 100%;
  padding: 0px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  z-index: 1;
  
}
@media (max-width: 600px) {
  #navbar {
    font-size: 18px;
  }
}

#navbar a {
  padding: 10px;
}

#navbar a:hover {
  color: black;
  background-color: #c1eeff;
}

.welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  box-shadow: none;
}

.welcome-section h1 {
  font-size: 8vw;
}

@media (max-width: 250px) {
  .welcome-section h1 {
    font-size: 25px;
  }
}

.badge {
  border-radius: 20px;
  height: 45%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.badge:hover {
  background: black;
  box-shadow: 0px 10px 20px black;
  opacity: 0.7;
  }
}

.light-blue {
  color: #7CE0F8;
}

.badge:hover .light-blue {
  color: white;
}

.badge:hover h1 {
  color: white;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.project-tile {
  margin: 0px;
  width: 50%;
}

.project-image {
  border-radius: 10px;
}

.project-image:hover {
  filter: brightness(50%);
}

#contact {
  text-align: center;
}

#contact a {
  font-size: 25px;
}
